* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: #2d1602;
  color: rgb(255, 240, 215);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  text-align: center;
}

Body {
  min-height: 52rem;
  display: flex;
  flex-direction: column;
  max-width: 52rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

footer {
  width: 100%;
  margin-top: auto;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a3978d;
}

.BlockInLine {
  display: inline;
  width: 100%;
}
.TopLogo {
  float: left;
}

.Menu {
  float: right;
}

.Image {
  width: 2%;
  height: 2%;
  background-color: rgb(255, 240, 215);
}

.Logo {
  width: 10%;
  height: 10%;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__item {
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: rgba(109, 109, 109, 0.01);
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: rgba(109, 109, 109, 0.01);
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: rgba(109, 109, 109, 0.01);
  font-size: 2em;
}

.carousel__snapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  scroll-snap-align: center;
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: rgb(145, 144, 142);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: rgb(51, 51, 51);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("../img/Previous.png");
  background-color: rgb(187, 182, 178);
}

.carousel::after {
  background-image: url("../img/Next.png");
  background-color: rgb(187, 182, 178);
}
